@model DogGo.Models.ViewModels.WalkFormModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Walks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            <label asp-for="Walks.Id" class="control-label"></label>
            <input asp-for="Walks.Id" class="form-control" />
            <span asp-validation-for="Walks.Id" class="text-danger"></span>
        </div>///Is this where we do hidden or do we delete?
            <div class="form-group">
                <label asp-for="Walks.Date" class="control-label"></label>
                <input asp-for="Walks.Date" class="form-control" />
                <span asp-validation-for="Walks.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Walks.Duration" class="control-label"></label>
                <input asp-for="Walks.Duration" class="form-control" />
                <span asp-validation-for="Walks.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Walks.WalkerId" class="control-label"></label>
                <input asp-for="Walks.WalkerId" class="form-control" />
                <span asp-validation-for="Walks.WalkerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Walks.DogId" class="control-label"></label>
                <input asp-for="Walks.DogId" class="form-control" />
                <span asp-validation-for="Walks.DogId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Walks.DurationInMinutes" class="control-label"></label>
                <input asp-for="Walks.DurationInMinutes" class="form-control" />
                <span asp-validation-for="Walks.DurationInMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
